In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as пр

In [ ]:
df= pd.read_csv("datasetwithXandY.csv")
df.dtypes

LIN      int64
LM       int64
SP       int64
BK       int64
MU       int64
NTER     int64
NTRA     int64
NAT      int64
job 1    int64
job 2    int64
job 3    int64
dtype: object

In [ ]:
cols_to_scale = ['LIN', 'LM', 'SP', 'BK', 'MU', 'NTER', 'NTRA', 'NAT']
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

In [ ]:
df

,LIN,LM,SP,BK,MU,NTER,NTRA,NAT,job 1,job 2,job 3
0,1.000,0.857143,0.555556,0.750,0.750,0.888889,0.5,0.000000,0,3,15
1,0.375,0.857143,0.777778,0.625,0.750,0.777778,0.7,0.142857,3,6,12
2,0.500,0.000000,0.333333,0.000,0.750,0.666667,0.7,0.285714,12,15,18
3,0.875,0.571429,0.444444,1.000,0.875,0.777778,0.4,0.000000,9,0,12
4,0.750,0.714286,0.333333,0.875,0.750,1.000000,0.9,0.428571,15,9,18
...,...,...,...,...,...,...,...,...,...,...,...
95,0.875,0.714286,0.888889,0.500,0.125,0.777778,0.5,0.571429,0,6,3
96,0.500,0.428571,0.777778,0.250,0.875,0.666667,0.8,0.857143,12,21,6
97,0.375,0.285714,0.555556,0.125,0.625,0.555556,0.9,0.571429,18,12,21
98,0.625,0.857143,0.444444,0.875,0.000,0.444444,0.6,0.714286,3,9,21
99,0.500,0.857143,0.666667,0.000,0.750,0.222222,0.7,0.285714,3,12,6

In [ ]:

X=df.drop(['job 1', 'job 2', 'job 3'], axis=1)

y=df.drop(['LIN', 'LM', 'SP', 'BK', 'MU', 'NTER', 'NTRA', 'NAT'], axis =1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=5)

In [ ]:
X_train.shape

(80, 8)

In [ ]:
len(X_train.columns)

8

In [ ]:
import tensorflow as tf
from tensorflow import keras
from pickletools import optimize
model = keras.Sequential([
    keras.layers.Dense(30, input_shape= (8,), activation= 'relu'),
    keras.layers.Dense(3, activation= 'sigmoid'),
 ])

model.compile(optimizer= 'adam',
               loss= 'BinaryCrossentropy',
                metrics=['accuracy'])
                
                
model.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test))
#model.fit(X_train, y_train, epochs=50)

In [ ]:
model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 21ms/step - loss: -184.6334 - accuracy: 0.7000

[-184.63340759277344, 0.699999988079071]

In [ ]:
yp = model.predict(X_train[:2])
yp[:3]

array([[0.9999994, 0.9999999, 1.       ],
       [0.9999995, 1.       , 1.       ]], dtype=float32)

In [ ]:
X_train

      LIN        LM        SP     BK     MU      NTER  NTRA       NAT
2   0.500  0.000000  0.333333  0.000  0.750  0.666667   0.7  0.285714
73  0.875  0.285714  0.444444  0.875  0.875  0.666667   0.5  0.571429
97  0.375  0.285714  0.555556  0.125  0.625  0.555556   0.9  0.571429
62  0.125  0.857143  0.555556  0.375  0.375  0.555556   0.6  0.571429
19  0.875  0.285714  0.777778  1.000  0.875  0.666667   0.9  0.571429
..    ...       ...       ...    ...    ...       ...   ...       ...
75  0.625  0.571429  0.888889  0.625  0.625  0.111111   0.7  0.285714
9   0.750  0.000000  0.555556  0.750  0.375  0.555556   0.7  0.857143
72  0.625  0.571429  0.666667  0.125  0.625  0.444444   0.4  0.714286
12  0.875  0.857143  0.444444  0.625  0.375  0.222222   0.8  0.000000
37  0.625  0.428571  0.777778  0.750  0.375  0.111111   0.4  0.714286

[80 rows x 8 columns]

In [ ]:
y_test[:3]

    job 1  job 2  job 3
66     12     15     21
32     18      6     21
46      6      0     21

In [ ]:
y_pred = []
for element in yp:
  y_pred.append(element)

In [ ]:
y_pred[:3]

[array([0.9999994, 0.9999999, 1.       ], dtype=float32),
 array([0.9999995, 1.       , 1.       ], dtype=float32)]

In [ ]:
import seaborn as sn
cm = tf.math.confusion_matrix(labels=y_test,predictions=y_pred)
plt.figure(figsize = (10,7))
sn.heatmap(tm, annot=True, fmt='d')
plt.xlabel( 'Predicted')
plt.ylabel('Truth')

In [ ]:
X_test[:1]
X_var = [1,2,3,4,5,6,7,8]